.footer-background{
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../img/blog-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}